<%= form_for @employment do |f| %>
  <div class="form-group">
    <%= f.label :person_id %>
    <%= f.collection_select(:person_id, @persons, :id, :full_name, {}, {class: "form-control"}) %>
  </div>

  <div class="form-group">
    <%= f.label :organization_id %>
    <%= f.collection_select(:organization_id, @organizations, :id, :name, {include_blank: true}, {class: "form-control"}) %>
  </div>

  <div class="form-group">
    <%= f.label :job_title_id %>
    <%= f.collection_select(:job_title_id, @jobs, :id, :name, {include_blank: "Select a title, yo!"}, {class: "form-control"}) %>
  </div>

  <div class="form-group">
    <%= f.label :location_id %>
    <%= f.collection_select(:location_id, @locations, :id, :name,  self.toggle_blank , {class: "form-control"}) %>
  </div>

  <p>
    <%= f.submit class: "btn btn-primary" %>
  </p>

<% end %>
