<div class="page-header">
  <div class="pull-right">
    <%= link_to "New Employment", new_employment_path, class: "btn btn-info" %>
  </div>
  <h1>Employments</h1>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Organization</th>
      <th>Person</th>
      <th>Job Title</th>
      <th>Location</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <% @employments.each do |employment| %>
      <tr>
        <td>
          <% if employment.organization == nil %>
            <%= "" %>
          <% else %>
            <%= employment.organization.name %>
          <% end %>
        </td>
        <td> <%= employment.person.full_name %> </td>
        <td>
          <% if employment.job_title == nil %>
            <%= "" %>
          <% else %>
            <%= employment.job_title.name %>
          <% end %>
        </td>
        <td>
          <% if employment.location == nil %>
            <%= "" %>
          <% else %>
            <%= employment.location.name %>
          <% end %>
        </td>
        <td>
          <div>
            <%= link_to "Edit", edit_employment_path(employment[:id]) %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
